<h1>Add a new Landmark!</h1>
<form action="/figures" method="post">
  <label>Name:</label><br>
  <input type="text" name="landmark[name]" id="landmark_name">
  <br><br>
  <label>Year completed:</label><br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br><br>
  <label>Select figure:</label><br>
  <% Figure.all.each do |figure| %>
    <input type="radio" name="landmark[figure]" value="<%= figure.id %>" id="figure_<%= figure.id %>">
      <%= figure.name %>
    </input>
    <br>
  <% end %>
  <label>or add a new figure:</label><br>
  <input type="text" name="figure[name]" id="new_figure">
  <br><br>
  <label>Select a title:</label><br>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>">
      <%= title.name %>
    </input>
    <br>
  <% end %>
  <label>and/or add a new title:</label><br>
  <input type="text" name="title[name]" id="new_title">
  <br><br>
  <input type="submit" value="Create New Landmark">
</form>
